
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;500;600;700&family=Nunito:wght@200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,700;1,500&family=IBM+Plex+Sans:wght@200;500;600;700&family=Nunito:wght@200;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: "IBM Plex Sans", sans-serif;
  }
  *[role="tab"],
  *[role="menuitem"] {
    cursor: pointer;
  }
}

/* MAKE RECHARTS RESIZE DYNAMICALLY */
.recharts-responsive-container {
  position: relative;
}
.recharts-wrapper {
  position: absolute !important;
}
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}
